html, body {
    background-color: #fff;
    color: #000;
    margin-top: 50px;
    padding: 0;
    width: auto;
    background-color:white;
}



#container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    background-color:white;
}

#logo {
    color: #000; 
    font-size: xx-large;
}
h1 {
    display: block;
    text-align: center;
    font-size: 5em;
    
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
  }
  #title{
    height: 100px;
  }
  #window{
      background-color: #000;
      height: 600px;
      border-radius: 60px;
  }


  .dot {
    height: 25px;
    width: 25px;
    background-color: blue;
    border-radius: 50%;
    display: inline-block;
  }

  div.absolute {
    position: absolute;
    top: 80px;
    right: 0;
    width: 200px;
    height: 100px;

  }

  tg  {border-collapse:collapse;border-spacing:0;}
.tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  overflow:hidden;padding:10px 5px;word-break:normal;}
.tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-eqm3{border-color:inherit;font-size:20px;text-align:left;vertical-align:top}
.tg .tg-0pky{border-color:inherit;text-align:left;vertical-align:top}