<!doctype html >
<html>
<head>
    <meta charset="UTF-8">
    <title>Strona_muzyczna </title>

    <link href="../static/index.css" rel="stylesheet" type="text/css" />

<script>
function generate_table() {

var window = document.getElementById("window");
var oldTab=document.getElementById("tab1");

if(oldTab!=null){
  window.removeChild(oldTab);
  }
 var tbl = document.createElement("table");
 tbl.id="tab1";
 var tblBody = document.createElement("tbody");


 for (var i = 0; i < 15; i++) {
  
   var row = document.createElement("tr");

   for (var j = 0; j < 15; j++) {
     
     var cell = document.createElement("td");
     
     cell.id= [i,j]
     cell.className += "tg-0pky";
     row.appendChild(cell);
   }

   
   row.className +="tg";
   tblBody.appendChild(row);
 }

 
 tbl.appendChild(tblBody);
 
 window.appendChild(tbl);
 
}
       </script>
</head>
<body>
  
   
    <div id="container">
        
        <div id="title">
            <div id="header">
                <h1> PAN DJ </h1>
                
            </div>
        </div>
        <div class="absolute">
            <a href="alt.html"> <span class="dot"></span> </a>
        </div>
        <div id="window">
          <input type="button" value="Generate a table." onclick="generate_table()">
            
            
        </div>
    </div>
 
    


</body>
</html>
