<!doctype html >
<html>
<head>
    <meta charset="UTF-8">
    <title>Witaj! Jestem Pan DJ!</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <lin rel="stylesheet" href="/static/index.css" type="text/css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/fontawesome.min.js"></script>
    <style>
        body, html {
          height: 100%;
          margin: 0;
        }
/*
        .bg {
          background-image: url("../static/1.png");

          height: 100%;

          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
        } */
        .round_corners{
          border-radius: 50px;
        }
        </style>


</head>
<style>
html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
</style>
<body class="w3-white">


<!-- !PAGE CONTENT! -->
<div class="w3-main" id="main" style="opacity:0">

  <!-- Header -->
  <header class="w3-container w3-center" style="padding-top:22px">
    <h5><b><i class="fa fa-users"></i> Pan DJ</b></h5>
  </header>

    <form action="/login" style="text-align:center" method="POST">
      <br>
      <p class="w3-center">Wpisz swój nick:</p>
      <input class="w3-border w3-padding round_corners" type="text" name="name" placeholder="Nazwa" required>
      <input class="w3-button w3-theme round_corners" type="submit" value=">"><br><br>
    </form>


  <!-- End page content -->
</div>
<div class="w3-main" id="welcome" style="opacity:0">

      <h5 class="w3-center">Wpisz swój nick:</h5>


  <!-- End page content -->
</div>
<script>
$(document).ready(function() {
    $("#welcome").animate({opacity: 1}, 1000);
});
</script>

</html>
