<!doctype html >
<html>
<head>
    <meta charset="UTF-8">
    <title>Strona_muzyczna </title>

    <link  href="../static/w3.css" rel="stylesheet" type="text/css" />
    <style>
        body, html {
          height: 100%;
          margin: 0;
        }
        
        .bg {
          background-image: url("../static/2.png");
    
          height: 100%; 
        
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
        }
        
        
        </style>


</head>
<body>


    
 
    <div class="bg">
       <div id="form ">
        <form action="/login" style="text-align:center" method="POST">
            <br>
        

            <input class="w3-border w3-padding" type="password" name="password" placeholder="Hasło" required><br><br>
            <input class="w3-button w3-theme" type="submit" value="wchodzę" style="text-align: left;"><br><br>
          </form>
       </div>
    </div>

</body>
</html>
