<!doctype html >
<html>
<head>
    <meta charset="UTF-8">
    <title>Strona_muzyczna </title>

    <link href="../static/index.css" rel="stylesheet" type="text/css" />
    <style>
        body, html {
          height: 100%;
          margin: 0;
        }
        
        .bg {
          background-image: url("../static/3.png");
    
          height: 100%; 
        
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
        }
        </style>
<script>
  function tableCreate() {
  //body reference 
  var body = document.getElementsByTagName("body")[0];

  // create elements <table> and a <tbody>
  var tbl = document.createElement("table");
  var tblBody = document.createElement("tbody");

  // cells creation
  for (var j = 0; j <= 2; j++) {
    // table row creation
    var row = document.createElement("tr");

    for (var i = 0; i < 2; i++) {
      // create element <td> and text node 
      //Make text node the contents of <td> element
      // put <td> at end of the table row
      var cell = document.createElement("td");
      var cellText = document.createTextNode("cell is row " + j + ", column " + i);

      cell.appendChild(cellText);
      row.appendChild(cell);
    }

    //row added to end of table body
    tblBody.appendChild(row);
  }

  // append the <tbody> inside the <table>
  tbl.appendChild(tblBody);
  // put <table> in the <body>
  body.appendChild(tbl);
  // tbl border attribute to 
  tbl.setAttribute("border", "2");
}
</script>

</head>
<body>
    
  <p id="demo" onclick="tableCreate()">Click me.</p>
    <div class="bg"></div>


    

</body>
</html>
